@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Quicksand:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #2ec4b6;
  --border-color: #adb5bd;
  --border-focus: #4ecdc4;
  --text-color: #2b2d42;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-image: url('img/currency.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.content {
  margin: 0 10rem;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.638);
  width: 70%;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.card_content {
  padding: 30px 50px;
}

.card_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.card_title p {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.card_title img {
  height: 20px;
}

.form_input {
  margin-top: 5rem;
}

.form_input label {
  display: block;
  font-weight: 600;
}

.form_input input {
  margin-top: 7px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  width: 300px;
}

.form_input input:focus {
  outline: none;
  border: 2px solid var(--border-focus);
  padding: 9px 19px;
}

/* Select Box
.select_menu .select_btn,
.select_menuTo .select_btnTo {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 9.2px 20px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  min-width: 300px;
  margin-top: 7px;
  position: relative;
  background-color: #fff;
}

.select_btn i,
.select_btnTo i {
  font-size: 25px;
  transition: 0.2s;
}

.select_menu.active .select_btn i,
.select_menuTo.active .select_btnTo i {
  transform: rotate(-180deg);
}

.select_menu .options,
.select_menuTo .optionsTo {
  position: absolute;
  padding: 20px;
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  width: 300px;
  background-color: #fff;
  display: none;
}

.select_menu.active .options,
.select_menuTo.active .optionsTo {
  display: block;
}

.options,
.optionsTo {
  max-height: 200px;
  overflow-y: auto;
}

.options .option,
.optionsTo .optionTo {
  display: flex;
  cursor: pointer;
  border-radius: 7px;
  align-items: center;
  padding: 15px 0;
  font-size: 13px;
}

.options .option:hover,
.optionsTo .optionTo:hover {
  background-color: #f2f2f2;
}

.options .option .flag,
.optionsTo .optionTo .flag {
  height: 12px;
  margin-right: 12px;
} */

.exchange_btn {
  transform: translateY(55px);
  color: var(--border-focus);
  padding: 12px 16px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.convert {
  margin-top: 20px;
  border-bottom: 2px solid var(--primary-color);
  width: fit-content;
  padding-bottom: 5px;
}

.convert_btn {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

.convert_btn button {
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.convert_btn button:hover {
  background-color: var(--border-focus);
  transition: all 0.4s;
}
